@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply border-2 rounded-lg h-9 w-3/4 px-5 mx-10 
    sm:justify-self-center
}
.label {
    @apply 
    text-xl 
    text-white
    font-semibold 
    mx-10 
    sm:justify-self-center;
}
.legend {
    @apply sm:text-2xl 
    text-2xl
    font-bold
  text-white 
    place-self-center 
    my-6
    sm:text-xl
    text-center;
}
.form {
    @apply 
    grid
    sm:w-11/12 
    md:w-2/4 
    lg:w-2/4 
    xl:w-96 
    xl:h-5/6 
    border
    border-cyan-600
    rounded-lg
    bg-cyan-500
}
.button {
    @apply
    h-10 
    w-1/2 
    justify-self-center 
    my-5 
    bg-blue-800 
    rounded-2xl
     text-white 
    font-semibold
    hover:bg-blue-300 transition-all
}

.messageSuccess {
    @apply 
    justify-self-center 
    font-bold
     text-green-500
}
.messageError {
    @apply 
    justify-self-center 
    font-bold
     text-red-500
}
.resetNotif {
    @apply
    border 
    h-36 
    w-96 
    absolute 
    bg-white 
    rounded-md
}